.views-workspace {
  max-width: 1320px;
  margin: 0 auto;

  .table {
    font-size: 0.9rem;
  }

}

.views-workspace__switch {
  display: flex;
  align-items: center;
  padding-top: 1.85rem;
}

@media (max-width: 1199.98px) {
  .views-workspace__switch {
    padding-top: 0;
  }
}
